
@{
    Layout = null;
}

<!DOCTYPE html>

<html class="openform">
<head>
    <meta name="viewport" content="width=device-width" />
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <title>Open Pediatrics</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="profile" href="#">
    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
    <!-- Mobile specific meta -->
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone-no">
    <!-- CSS files -->
    <link rel="stylesheet" href="../../Content/css/plugins.css">
    <link rel="stylesheet" href="../../Content/css/style.css">
    <style type="text/css">
        .fancybox-margin {
            margin-right: 17px;
        }
    </style>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body class="openform">
    <div id="preloader">
        <img class="logo" src="../../Content/images/logo1.png" alt="" width="119" height="58">
        <div id="status">
            <span></span>
            <span></span>
        </div>
    </div>
    <!--end of preloading-->
    <!--login form popup-->
    <!--end of signup form popup-->
    <header class="ht-header">
        <div class="container">
            <nav class="navbar navbar-default navbar-custom">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header logo">
                    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <div id="nav-icon1">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <a href="@Url.Action("Index","Home")"><img class="logo" src="../../Content/images/logo1.png" alt="" width="119" height="58"></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav flex-child-menu menu-left">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li><a href="#">Home</a></li>
                        <li> @Html.ActionLink("Movies", "ListOfMovies", "MoviesSeries")</li>
                        <li> @Html.ActionLink("Series", "ListOfSeries", "MoviesSeries")</li>
                        <li>@Html.ActionLink("News","ListOfNews","News")</li>
                        <li><a href="#">Suggest Me Something</a></li>
                    </ul>
                    <ul class="nav navbar-nav flex-child-menu menu-right">
                        @{
                            <li><a href="#">Help</a></li>
                            if (Session["OnlineKullanici"] == null)
                            {
                                <li>
                                    @Html.ActionLink("Login", "Login", "Account")
                                </li>
                                <li>@Html.ActionLink("Sign Up", "Register", "Account")</li>
                            }
                            else
                            {
                                @*<li>@Html.ActionLink(Session["OnlineKullanici"].ToString(), "", "")</li>
                                    <li>@Html.ActionLink("Logout", "Index", "Home")</li>*@
                                @Html.Partial("_LoginPartial")
                            }
                        }
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
            <!-- top search form -->
            <div class="top-search">
                <select>
                    <option value="united">TV show</option>
                    <option value="saab">Others</option>
                </select>
                <input type="text" placeholder="Search for a movie, TV Show or celebrity that you are looking for">
            </div>
        </div>
    </header>
    @RenderBody()
    <footer class="ht-footer">
        <div class="container">
            <div class="flex-parent-ft ">
                <div class="flex-child-ft item1">
                    <a href="@Url.Action("Index","Home")"><img class="logo" src="../../Content/images/logo1.png" alt=""></a>
                    <p>
                        Zuhuratbaba mah. İncirli Caddesi, BilgeAdamAkademi<br>
                        Bakırköy/İst
                    </p>
                    <p>Call us: <a href="#">444 33 30</a></p>
                </div>
                <div class="flex-child-ft col-md-4">
                    <h4>Account</h4>
                    <ul>
                        <li><a href="@Url.Action("Index", "UserProfiles")">My Account</a></li>
                        <li><a href="@Url.Action("Register", "WatchList")">Watchlist</a></li> @*//TODO:bu kısımda doğru yönlendirilme yapılacak*@  
                        @*<li><a href="#">Collections</a></li>
                        <li><a href="#">User Guide</a></li>*@
                    </ul>
                </div>
                <div class="flex-child-ft col-md-6">
            <h4>Movies</h4>
            <ul>
                <li><a href="@Url.Action("ListOfMovies","MoviesSeries")">Movie</a></li>
                <li><a href="@Url.Action("News", "ListOfNews")">News</a></li>
                
            </ul>
        </div>
                @*<div class="flex-child-ft item3">
            <h4>Legal</h4>
            <ul>
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Security</a></li>
            </ul>
        </div>*@

                @*<div class="flex-child-ft item5">
            <h4>Newsletter</h4>
            <p>Subscribe to our newsletter system now <br> to get latest news from us.</p>
            <form action="#">
                <input type="text" placeholder="Enter your email...">
            </form>
            <a href="#" class="btn">Subscribe now <i class="ion-ios-arrow-forward"></i></a>
        </div>*@
            </div>
        </div>
        <div class="ft-copyright">
            <div class="ft-left">
                <p>© 2019 BilgeAdam Group2. All Rights Reserved. Designed by NBUY Group2.</p>
            </div>
            <div class="backtotop">
                <p><a href="#" id="back-to-top">Back to top  <i class="ion-ios-arrow-thin-up"></i></a></p>
            </div>
        </div>
    </footer>
    <!-- end of footer section-->
    <script src="../../Content/js/jquery.js"></script>
    <script src="../../Content/js/plugins.js"></script>
    <script src="../../Content/js/plugins2.js"></script>
    <script src="../../Content/js/custom.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
