@model Imdb.DATA.Concrete.User
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="hero user-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1>@Model.FirstName Profile's</h1>
                    <ul class="breadcumb">
                        <li class="active"><a href="#">Home</a></li>
                        <li> <span class="ion-ios-arrow-right"></span>Profile</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-single">
    <div class="container">
        <div class="row ipad-width">
            @Html.Partial("UserPartial")
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="form-style-1 user-pro">
                    @using (Html.BeginForm("UpdateProfile", "UserProfiles", new { id = Model.UserID }, FormMethod.Post))
                    {
                        <h4>01. Profile details</h4>
                        <div class="row">
                            <div class="col-md-6 form-it">
                                <label>First Name</label>
                                <input type="text" value="@Model.FirstName" name="FirstName">
                            </div>
                            <div class="col-md-6 form-it">
                                <label>Last Name</label>
                                <input type="text" value="@Model.LastName" name="LastName">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-it">
                                <label>Email Address</label>
                                <input type="text" value="@Model.Email" name="Email">
                            </div>
                            <div class="col-md-6 form-it">
                                <label>Birth Date</label>
                                <input type="text" value="@Model.BirthDate.ToShortDateString()" name="BirthDate">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <input class="submit" type="submit" value="save">
                            </div>
                        </div>
                    }
                    @*@using (Html.BeginForm("ChangePassword", "UserProfiles", new { id = Model.UserID }, FormMethod.Post))
                        {*@
                    <h4>02. Change password</h4>
                    <div class="row">
                        <div class="col-md-6 form-it">
                            <label>Old Password</label>
                            <input type="password" id="oldPass" name="OldPassword" placeholder="**********">
                            <label id="validateOld" style="display:none;">Eski şifreniz yanlış</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-it">
                            <label>New Password</label>
                            <input type="password" id="newPass" name="NewPassword" placeholder="***************">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-it">
                            <label>Confirm New Password</label>
                            <input type="password" id="newPassAgain" name="NewPasswordAgain" placeholder="*************** ">
                            <label id="validateMatch" style="display:none;">Şifreler Eşleşmiyor</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <input class="submit" id="btnSave" type="button" value="change" />
                        </div>
                    </div>
                    @*}*@
                </div>
            </div>
        </div>
    </div>
</div>


@* TODO *@
@* üstte type ı button yap ajax la iyileştir burasını *@


@*<script>
        $("#btnSaveProfile").click(function () {
            var user = $('#btnSaveProfile').attr("data-user");
            $.ajax({
                method: "post",
                url: "@Url.Action("UpdateProfile", "UserProfiles")",
                data: user
            })
        })
    </script>*@
@section scripts {
    <script>
    $('#btnSave').click(function () {
        var oldPassword = $("#oldPass").val();
        var newPassword = $("#newPass").val();
        var newPasswordAgain = $("#newPassAgain").val();
        if (oldPassword != '@Model.Password') {
            $("#validateOld").css("display", "block");
            if (newPassword == "" && newPasswordAgain
                == "" && newPassword != newPasswordAgain) {
                $("#validateMatch").css("display", "block");
            }
        } else if (newPassword == "" && newPasswordAgain
            == "" && newPassword != newPasswordAgain) {
            $("#validateMatch").css("display", "block");
            if (oldPassword != '@Model.Password' && oldPassword == "") {
                $("#validateOld").css("display", "block");
            }
        } else {
            $.ajax({
                method: "Post",
                url: "/UserProfiles/ChangePassword/",
                data: { id: @Model.UserID , newPassword: newPassword },
                success: function () {
                    $("#validateMatch").css("display", "block" ,"background-color" , "green").text("Şifreniz değiştirildi");
                }

            });
        }


    });
    </script>
}





