@model Imdb.DATA.Concrete.User

@{
    ViewBag.Title = "WatchList";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="hero user-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1>@Model.FirstName’s profile</h1>
                    <ul class="breadcumb">
                        <li class="active"><a href="#">Home</a></li>
                        <li> <span class="ion-ios-arrow-right"></span>Favorite movies</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-single">
    <div class="container">
        <div class="row ipad-width2">

            @Html.Partial("UserPartial")
            
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="topbar-filter user">
                    <p>Found <span>1,608 movies</span> in total</p>
                    <label>Sort by:</label>
                    <select>
                        <option value="range">-- Choose option --</option>
                        <option value="saab">-- Choose option 2--</option>
                    </select>
                    <a href="userfavoritelist.html" class="list"><i class="ion-ios-list-outline "></i></a>
                    <a href="userfavoritegrid.html" class="grid"><i class="ion-grid active"></i></a>
                </div>
                <div class="flex-wrap-movielist grid-fav">
                    @foreach (var item in ViewBag.WatchList)
                    {
                        <div class="movie-item-style-2 movie-item-style-1 style-3">
                            <img src="@Url.Content(item.Photos)" alt="">
                            <div class="hvr-inner">
                                <a href="@Url.Action("MoviesSeriesDetails", "MoviesSeries", new {  id = item.MovieSeriesID })"> Read more <i class="ion-android-arrow-dropright"></i> </a>
                            </div>
                            <div class="mv-item-infor">
                                <h6><a href="@Url.Action("MoviesSeriesDetails", "MoviesSeries", new {  id = item.MovieSeriesID })">oblivion</a></h6>
                                <p class="rate"><i class="ion-android-star"></i><span>8.1</span> /10</p>//TODO
                            </div>
                        </div>
                    }
                </div>
                <div class="topbar-filter">
                    <label>Movies per page:</label>
                    <select>
                        <option value="range">20 Movies</option>
                        <option value="saab">10 Movies</option>
                    </select>

                    <div class="pagination2">
                        <span>Page 1 of 2:</span>
                        <a class="active" href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">...</a>
                        <a href="#">78</a>
                        <a href="#">79</a>
                        <a href="#"><i class="ion-arrow-right-b"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

