@model Imdb.DATA.Concrete.MoviesSeries
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "MoviesSeriesDetails";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="hero sr-single-hero sr-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                @*<ul class="breadcumb"> //Bu kısım silinebilir.
                        <li class="active"><a href="#">Home</a></li>
                        <li> <span class="ion-ios-arrow-right"></span> movie listing</li>
                    </ul>*@
            </div>
        </div>
    </div>
</div>
<div class="page-single movie-single movie_single">
    <div class="container">
        <div class="row ipad-width2">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="movie-img sticky-sb" style="top: 0px;">

                    <img alt="" src="@Url.Content(Model.Photos)">

                    <div class="movie-btn">
                        <div class="btn-transform transform-vertical red">
                            <div><a class="item item-1 redbtn" href="#"> <i class="ion-play"></i> Watch Trailer</a></div>

                            <div><a class="item item-2 redbtn fancybox-media hvr-grow" href="@Url.Content(Model.Trailer)" rel="playlist"><i class="ion-play"></i></a></div>

                        </div>
                        @*<div class="btn-transform transform-vertical">
                                <div><a class="item item-1 yellowbtn" href="#"> <i class="ion-card"></i> Buy ticket</a></div>
                                <div><a class="item item-2 yellowbtn" href="#"><i class="ion-card"></i></a></div>
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="movie-single-ct main-content">
                    <h1 class="bd-hd">@Url.Content(Model.MovieSeriesName) @*<span>@Url.Content(Model.ReleaseDate.ToString())</span>*@</h1>
                    <div class="social-btn">
                        @{
                            if (ViewBag.DoesExistMovieInWatchList)
                            {
                                <span class="parent-btn" href="#"><i class="ion-android-lock"></i> Movie Added To List</span>
                            }
                            else
                            {
                                <a class="parent-btn" href="@Url.Action("AddWatchList","MoviesSeries",new { id = Model.MovieSeriesID })"><i class="ion-heart"></i> Add to WatchList</a>
                            }

                        }
                    </div>

                    <div class="movie-rate">
                        <div class="rate">
                            <i class="ion-android-star"></i> @*TODO (filmin ratint değeri buraya databaseden çekilecek)*@
                            <p>
                                @*<span>@Url.Content(Model.Ratings)</span> /10<br>*@
                                @*<span class="rv">56 Reviews</span>*@
                            </p>
                        </div>
                        <div class="rate-star">
                            <p>Rate This Movie:  </p>
                            <form id="user-rating-form">
                                @* TODO buraya çekerken oylanan sayı kadar user-rating clası bass *@
                                <span class="user-rating" style="width:275px">
                                    @if (ViewBag.rating == null)
                                    {
                                        <input type="radio" name="rating" data-mid="@Model.MovieSeriesID" value="10"><span class="star"></span>

                                        <input type="radio" name="rating" data-mid="@Model.MovieSeriesID" value="9"><span class="star"></span>

                                        <input type="radio" name="rating" data-mid="@Model.MovieSeriesID" value="8"><span class="star"></span>

                                        <input type="radio" name="rating" data-mid="@Model.MovieSeriesID" value="7"><span class="star"></span>

                                        <input type="radio" name="rating" data-mid="@Model.MovieSeriesID" value="6"><span class="star"></span>

                                        <input type="radio" name="rating" data-mid="@Model.MovieSeriesID" value="5"><span class="star"></span>

                                        <input type="radio" name="rating" data-mid="@Model.MovieSeriesID" value="4"><span class="star"></span>

                                        <input type="radio" name="rating" data-mid="@Model.MovieSeriesID" value="3"><span class="star"></span>

                                        <input type="radio" name="rating" data-mid="@Model.MovieSeriesID" value="2"><span class="star"></span>

                                        <input type="radio" name="rating" data-mid="@Model.MovieSeriesID" value="1"><span class="star"></span>
                                    }
                                    else
                                    {
                                        var s = ViewBag.rating;
                                        for (int i = 1; i <= 10; i++)
                                        {
                                            if (i > 10 - s.Score)
                                            {
                                                <input type="radio" checked name="rating+'@i'" value="@i"><span class="star"></span>
                                            }
                                            else
                                            {
                                                <input type="radio" name="rating" value="@i"><span class="nostar"></span>
                                            }

                                        }
                                    }

                                </span>

                            </form>
                            @if (ViewBag.rating == null)
                            {
                                <button type="button" style="float:right" class="btn btn-danger" id="btnVote">Vote</button>
                            }
                            else
                            {
                                <button type="button" disabled style="float:right" class="btn btn-danger" id="btnVote">Vote</button>
                            }
                        </div>
                    </div>
                    <div class="movie-tabs">
                        <div class="tabs">
                            <ul class="tab-links tabs-mv tabs-series">
                                <li class="active"><a href="#overview">Overview</a></li>
                                <li id="review"><a href="#reviews"> Reviews</a></li>
                                <li><a href="#season"> Season</a></li>
                                <li><a href="#moviesrelated"> Related Shows</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab active" id="overview">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-12 col-xs-12">
                                            <p>@Url.Content(Model.Description)</p>
                                            @*<div class="title-hd-sm">
                                                    <h4>Current Season</h4>
                                                    <a class="time" href="#">View All Seasons <i class="ion-ios-arrow-right"></i></a>
                                                </div>*@
                                            <!-- movie cast -->
                                            @*<div class="mvcast-item">
                                                    <div class="cast-it">
                                                        <div class="cast-left series-it">
                                                            <img alt="" src="images/uploads/season.jpg">
                                                            <div>
                                                                <a href="#">Season 10</a>
                                                                <p>21 Episodes</p>
                                                                <p>
                                                                    Season 10 of The Big Bang Theory premiered on
                                                                    September 19, 2016.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>*@
                                            @*<div class="title-hd-sm">
                                                    <h4>Videos &amp; Photos</h4>
                                                    <a class="time" href="#">All 5 Videos &amp; 245 Photos <i class="ion-ios-arrow-right"></i></a>
                                                </div>*@
                                            @*<div class="mvsingle-item ov-item">
                                                    <a class="img-lightbox" href="images/uploads/image41.jpg" data-fancybox-group="gallery"><img alt="" src="images/uploads/image4.jpg"></a>
                                                    <a class="img-lightbox" href="images/uploads/image51.jpg" data-fancybox-group="gallery"><img alt="" src="images/uploads/image5.jpg"></a>
                                                    <a class="img-lightbox" href="images/uploads/image61.jpg" data-fancybox-group="gallery"><img alt="" src="images/uploads/image6.jpg"></a>
                                                    <div class="vd-it">
                                                        <img class="vd-img" alt="" src="images/uploads/image7.jpg">
                                                        <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0" rel="playlist"><img alt="" src="images/uploads/play-vd.png"></a>
                                                    </div>
                                                </div>*@
                                            <div class="title-hd-sm">
                                                <h4>cast</h4>
                                                @*<a class="time" href="#">Full Cast &amp; Crew  <i class="ion-ios-arrow-right"></i></a>*@
                                            </div>
                                            <div class="mvcast-item">
                                                @*//TODO: buraya filmin oyuncularının ismi databaseden çekilecek.*@
                                                @foreach (var item in ViewBag.EmployeeOfMoviesSeries)
                                                {
                                                    <div class="cast-it">
                                                        <div class="cast-left">
                                                            <img alt="" src="images/uploads/cast1.jpg">
                                                            <a href="#">@item.FirstName @item.LastName</a>
                                                        </div>
                                                        <p>@item.FirstName @item.LastName</p>
                                                    </div>
                                                }
                                            </div>
                                            <div class="title-hd-sm">
                                                <h4>User reviews</h4>
                                                <a class="time" href="#">See All 56 Reviews <i class="ion-ios-arrow-right"></i></a>
                                            </div>
                                            <!-- movie user review -->
                                            <div class="mv-user-review-item">

                                                @*<div class="no-star">
                                                    <form id="user-rating-form">
                                                        <span class="user-rating" style="width:275px">
                                                            <input type="radio" name="rating" value="10"><span class="nostar"></span>

                                                            <input type="radio" name="rating" value="9"><span class="nostar"></span>

                                                            <input type="radio" name="rating" value="8"><span class="nostar"></span>

                                                            <input type="radio" name="rating" value="7"><span class="nostar"></span>

                                                            <input type="radio" name="rating" value="6"><span class="nostar"></span>

                                                            <input type="radio" name="rating" value="5"><span class="nostar"></span>

                                                            <input type="radio" name="rating" value="4"><span class="nostar"></span>

                                                            <input type="radio" name="rating" value="3"><span class="nostar"></span>

                                                            <input type="radio" name="rating" value="2"><span class="nostar"></span>

                                                            <input type="radio" name="rating" value="1"><span class="nostar"></span>
                                                        </span>
                                                    </form>
                                                </div>*@
                                                <p class="time">
                                                    @*// TODO: kullanıcının yorum yaptığı tarih ve nicki databaseden çekilecek*@
                                                    17 December 2016 by <a href="#"> hawaiipierson</a>
                                                </p>
                                                <p></p>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-xs-12 col-sm-12">
                                            <div class="sb-it">
                                                <h6>Director: </h6>
                                                <p><a href="#">Mark Cendrowski</a></p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>Writer: </h6>
                                                <p><a href="#"> Chuck Lorre,</a> <a href="#">Bill Prady</a></p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>Stars: </h6>
                                                <p><a href="#">Robert Downey Jr,</a> <a href="#">Chris Evans,</a> <a href="#">Mark Ruffalo,</a><a href="#"> Scarlett Johansson</a></p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>Genres:</h6>
                                                <p><a href="#">Action, </a> <a href="#"> Sci-Fi,</a> <a href="#">Adventure</a></p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>Release Date:</h6>
                                                <p>1 May 2006 (U.S.A)</p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>Run Time:</h6>
                                                <p>22 min</p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>MMPA Rating:</h6>
                                                <p>TV-14</p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>Plot Keywords:</h6>
                                                <p class="tags">
                                                    <span class="time"><a href="#">superhero</a></span>
                                                    <span class="time"><a href="#">marvel universe</a></span>
                                                    <span class="time"><a href="#">comic</a></span>
                                                    <span class="time"><a href="#">blockbuster</a></span>
                                                    <span class="time"><a href="#">final battle</a></span>
                                                </p>
                                            </div>
                                            <div class="ads">
                                                <img alt="" src="images/uploads/ads1.png">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab review" id="reviews" style="display: none;">
                                    <div class="row">
                                        <div class="rv-hd">
                                            <div class="div">
                                                <h3>Related Movies To</h3>
                                                <h2>Skyfall: Quantum of Spectre</h2>
                                            </div>
                                            <a class="redbtn" href="#">Write Review</a>
                                        </div>
                                        <div class="topbar-filter">
                                            <p>Found <span>56 reviews</span> in total</p>
                                            <label>Filter by:</label>
                                            <select>
                                                <option value="range">-- Choose option --</option>
                                                <option value="saab">-- Choose option 2--</option>
                                            </select>
                                        </div>
                                        @{  
                                                foreach (var item in ViewBag.AllComment)
                                                {

                                                <div class="mv-user-review-item">
                                                    <div class="user-infor">
                                                        <img src="@Url.Content(item.User.Avatar)" alt="">
                                                        <div>
                                                            <span class="no-star">
                                                                @for (int j = 10; j >= 1; j--)
                                                                {
                                                                    if (j <= 10 - item.Score)
                                                                    {
                                                                        <i class="ion-android-star last"></i>
                                                                    }
                                                                    else
                                                                    {
                                                                        <i class="ion-android-star"></i>
                                                                    }
                                                                }
                                                            </span>
                                                            <p class="time">
                                                                @DateTime.Now.ToShortDateString() <a href="#">@item.User.UserName</a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <p>@item.Comment</p>
                                                </div>
                                            }
                                        }


                                        <div class="topbar-filter">
                                            <label>Reviews per page:</label>
                                            <select>
                                                <option value="range">5 Reviews</option>
                                                <option value="saab">10 Reviews</option>
                                            </select>
                                            <div class="pagination2">
                                                <span>Page 1 of 6:</span>
                                                <a class="active" href="#">1</a>
                                                <a href="#">2</a>
                                                <a href="#">3</a>
                                                <a href="#">4</a>
                                                <a href="#">5</a>
                                                <a href="#">6</a>
                                                <a href="#"><i class="ion-arrow-right-b"></i></a>
                                            </div>
                                        </div>
                                        @using (Html.BeginForm("CommentMoviesSeries", "MoviesSeries", new { id = Model.MovieSeriesID }, FormMethod.Post))
                                        {
                                            if (ViewBag.comment == null)
                                            {
                                                <div id="comment">
                                                    <div>
                                                        <strong style="color:#dd003f">Yorumunuz:</strong>
                                                        <textarea rows="2" id="txtComment" style="resize:none" data-mid="@Model.MovieSeriesID" name="comment" class="form-control"></textarea>
                                                    </div>
                                                    <div style="text-align:center">
                                                        <input style="margin-top:10px; width:200px" type="submit" id="btnComment" class="btn btn-danger" value="COMMENT" />
                                                    </div>
                                                </div>
                                            }

                                        }

                                    </div>
                                    <div class="tab" id="cast" style="display: none;">
                                        <div class="row">
                                            <h3>Cast &amp; Crew of</h3>
                                            <h2>Avengers: Age of Ultron</h2>
                                            <!-- //== -->
                                            @*<div class="title-hd-sm">
                                                    <h4>Directors &amp; Credit Writers</h4>
                                                </div>*@
                                            @*<div class="mvcast-item">
                                                    <div class="cast-it">
                                                        <div class="cast-left">
                                                            <h4>JW</h4>
                                                            <a href="#">Joss Whedon</a>
                                                        </div>
                                                        <p>...  Director</p>
                                                    </div>
                                                </div>*@
                                            <!-- //== -->
                                            @*<div class="title-hd-sm">
                                                    <h4>Directors &amp; Credit Writers</h4>
                                                </div>*@
                                            @*<div class="mvcast-item">
                                                    <div class="cast-it">
                                                        <div class="cast-left">
                                                            <h4>SL</h4>
                                                            <a href="#">Stan Lee</a>
                                                        </div>
                                                        <p>...  (based on Marvel comics)</p>
                                                    </div>
                                                    <div class="cast-it">
                                                        <div class="cast-left">
                                                            <h4>JK</h4>
                                                            <a href="#">Jack Kirby</a>
                                                        </div>
                                                        <p>...  (based on Marvel comics)</p>
                                                    </div>
                                                    <div class="cast-it">
                                                        <div class="cast-left">
                                                            <h4>JS</h4>
                                                            <a href="#">Joe Simon</a>
                                                        </div>
                                                        <p>...  (character created by: Captain America)</p>
                                                    </div>
                                                    <div class="cast-it">
                                                        <div class="cast-left">
                                                            <h4>JS</h4>
                                                            <a href="#">Joe Simon</a>
                                                        </div>
                                                        <p>...  (character created by: Thanos)</p>
                                                    </div>
                                                    <div class="cast-it">
                                                        <div class="cast-left">
                                                            <h4>RT</h4>
                                                            <a href="#">Roy Thomas</a>
                                                        </div>
                                                        <p>...  (character created by: Ultron, Vision)</p>
                                                    </div>
                                                    <div class="cast-it">
                                                        <div class="cast-left">
                                                            <h4>JB</h4>
                                                            <a href="#">John Buscema</a>
                                                        </div>
                                                        <p>...  (character created by: Ultron, Vision)</p>
                                                    </div>
                                                </div>*@
                                            <!-- //== -->
                                            @*<div class="title-hd-sm">
                                                    <h4>Cast</h4>
                                                </div>*@
                                            @*<div class="mvcast-item">
                                                    <div class="cast-it">
                                                        <div class="cast-left">
                                                            <img alt="" src="images/uploads/cast1.jpg">
                                                            <a href="#">Robert Downey Jr.</a>
                                                        </div>
                                                        <p>...  Robert Downey Jr.</p>
                                                    </div>
                                                    <div class="cast-it">
                                                        <div class="cast-left">
                                                            <img alt="" src="images/uploads/cast2.jpg">
                                                            <a href="#">Chris Hemsworth</a>
                                                        </div>
                                                        <p>...  Thor</p>
                                                    </div>
                                                    <div class="cast-it">
                                                        <div class="cast-left">
                                                            <img alt="" src="images/uploads/cast3.jpg">
                                                            <a href="#">Mark Ruffalo</a>
                                                        </div>
                                                        <p>...  Bruce Banner/ Hulk</p>
                                                    </div>
                                                    <div class="cast-it">
                                                        <div class="cast-left">
                                                            <img alt="" src="images/uploads/cast4.jpg">
                                                            <a href="#">Chris Evans</a>
                                                        </div>
                                                        <p>...  Steve Rogers/ Captain America</p>
                                                    </div>
                                                    <div class="cast-it">
                                                        <div class="cast-left">
                                                            <img alt="" src="images/uploads/cast5.jpg">
                                                            <a href="#">Scarlett Johansson</a>
                                                        </div>
                                                        <p>...  Natasha Romanoff/ Black Widow</p>
                                                    </div>
                                                    <div class="cast-it">
                                                        <div class="cast-left">
                                                            <img alt="" src="images/uploads/cast6.jpg">
                                                            <a href="#">Jeremy Renner</a>
                                                        </div>
                                                        <p>...  Clint Barton/ Hawkeye</p>
                                                    </div>
                                                    <div class="cast-it">
                                                        <div class="cast-left">
                                                            <img alt="" src="images/uploads/cast7.jpg">
                                                            <a href="#">James Spader</a>
                                                        </div>
                                                        <p>...  Ultron</p>
                                                    </div>
                                                    <div class="cast-it">
                                                        <div class="cast-left">
                                                            <img alt="" src="images/uploads/cast9.jpg">
                                                            <a href="#">Don Cheadle</a>
                                                        </div>
                                                        <p>...  James Rhodes/ War Machine</p>
                                                    </div>
                                                </div>*@
                                            <!-- //== -->
                                            @*<div class="title-hd-sm">
                                                    <h4>Produced by</h4>
                                                </div>*@
                                            @*<div class="mvcast-item">
                                                    <div class="cast-it">
                                                        <div class="cast-left">
                                                            <h4>VA</h4>
                                                            <a href="#">Victoria Alonso</a>
                                                        </div>
                                                        <p>...  executive producer</p>
                                                    </div>
                                                    <div class="cast-it">
                                                        <div class="cast-left">
                                                            <h4>MB</h4>
                                                            <a href="#">Mitchel Bell</a>
                                                        </div>
                                                        <p>...  co-producer (as Mitch Bell)</p>
                                                    </div>
                                                    <div class="cast-it">
                                                        <div class="cast-left">
                                                            <h4>JC</h4>
                                                            <a href="#">Jamie Christopher</a>
                                                        </div>
                                                        <p>...  associate producer</p>
                                                    </div>
                                                    <div class="cast-it">
                                                        <div class="cast-left">
                                                            <h4>LD</h4>
                                                            <a href="#">Louis D’Esposito</a>
                                                        </div>
                                                        <p>...  executive producer</p>
                                                    </div>
                                                    <div class="cast-it">
                                                        <div class="cast-left">
                                                            <h4>JF</h4>
                                                            <a href="#">Jon Favreau</a>
                                                        </div>
                                                        <p>...  executive producer</p>
                                                    </div>
                                                    <div class="cast-it">
                                                        <div class="cast-left">
                                                            <h4>KF</h4>
                                                            <a href="#">Kevin Feige</a>
                                                        </div>
                                                        <p>...  producer</p>
                                                    </div>
                                                    <div class="cast-it">
                                                        <div class="cast-left">
                                                            <h4>AF</h4>
                                                            <a href="#">Alan Fine</a>
                                                        </div>
                                                        <p>...  executive producer</p>
                                                    </div>
                                                    <div class="cast-it">
                                                        <div class="cast-left">
                                                            <h4>JF</h4>
                                                            <a href="#">Jeffrey Ford</a>
                                                        </div>
                                                        <p>...  associate producer</p>
                                                    </div>
                                                </div>*@
                                        </div>
                                    </div>
                                    <div class="tab" id="media" style="display: none;">
                                        <div class="row">
                                            <div class="rv-hd">
                                                <div>

                                                    <h3>Videos &amp; Photos of</h3>
                                                    <h2>@Url.Content(Model.MovieSeriesName)</h2>

                                                </div>
                                            </div>
                                            <div class="tab" id="moviesrelated" style="display: none;">
                                                <div class="row">
                                                    <h3>Related Movies To</h3>
                                                    <h2>Skyfall: Quantum of Spectre</h2>
                                                    <div class="topbar-filter">
                                                        <p>Found <span>12 movies</span> in total</p>
                                                        <label>Sort by:</label>
                                                        <select>
                                                            <option value="popularity">Popularity Descending</option>
                                                            <option value="popularity">Popularity Ascending</option>
                                                            <option value="rating">Rating Descending</option>
                                                            <option value="rating">Rating Ascending</option>
                                                            <option value="date">Release date Descending</option>
                                                            <option value="date">Release date Ascending</option>
                                                        </select>
                                                    </div>
                                                    <div class="topbar-filter">
                                                        <label>Movies per page:</label>
                                                        <select>
                                                            <option value="range">5 Movies</option>
                                                            <option value="saab">10 Movies</option>
                                                        </select>
                                                        <div class="pagination2">
                                                            <span>Page 1 of 2:</span>
                                                            <a class="active" href="#">1</a>
                                                            <a href="#">2</a>
                                                            <a href="#"><i class="ion-arrow-right-b"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#user-rating-form').on('change', '[name="rating"]', function () {
        var moviesSeriesId = $(this).data("mid");
        var rate = $('[name="rating"]:checked').val();
        var i = 1;
        $("#btnVote").click(function () {
            $(".star").each(function () {
                if (i <= 10 - rate) {
                    $(this).removeClass("star").addClass("nostar");
                }
                i++;
            })
            $('[name="rating"]').attr("checked")
            $.ajax({
                url: "/MoviesSeries/VoteMoviesSeries/",
                type: "POST",
                data: { id: moviesSeriesId, rate: rate }
            });
            $("#btnVote").attr("disabled", true);
        })
    });


    //$("#review").click(function () {
    //    var i = 10;
    //    var score = $(".no-star").data("rate");
    //    alert(score)
    //    $(".ion-android-star").each(function () {
    //        if (i < 10 - score) {
    //            $(this).removeClass("ion-android-star").addClass("ion-android-star last");
    //        }
    //        i--;
    //    })
    //})

    //$("#btnComment").click(function () {
    //    var comment = $("#txtComment").val();
    //    var moviesSeriesId = $("#txtComment").data("mid");
    //    $.ajax({
    //        url: "/MoviesSeries/CommentMoviesSeries/",
    //        type: "POST",
    //        data: { id: moviesSeriesId, comment: comment }
    //    });
    //    $("#comment").hide();
    //})
</script>

